footer {
  background-color: var(--footer_background_color);
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer::selection {
  background: var(--Highlight_color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  user-select: auto;
  font-size: 14px;
  font-family: Quicksand;
  transition: .6s;
}
.Links_Con {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.Head {
  content: normal;
  font-weight: bolder;
  font-size: 20px;
  color: var(--footer_head_color);
  text-align: center;
}
.Footer_Ref {
  display: flex;
  justify-content: center;  
  margin: 0 auto;
  flex-direction: column;
}
.Footer_Links {
  text-decoration: none;
  font-style: italic;
  color: var(--footer_link_color);
  text-shadow: 1px 1px #737576;
}
.Footer_Links:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
/* Footer links spef Colors */
.YouTube {
  color: #ff0000;
  text-shadow: 1px 1px #b70707;
}
.Twitter {
  color: #00ACEE;
  text-shadow: 1px 1px #036d96;
}
.Reddit {
  color: #ff4500;
  text-shadow: 1px 1px#a22d03;
}
.Discord {
  color: #7289da;
  text-shadow: 1px 1px #536195;
}
.Spotify {
  color: #1DB954;
  text-shadow: 1px 1px #157737;
}
.Help_Us {
  color: #00000052;
  text-shadow: none;
}
.Help_Us:hover {
  color: #00000018;
  font-weight: lighter;
}

.Logo_Footer {
  margin-left: 15px;
  animation: rotation 30s infinite linear;
  position: relative;
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  } to {
    transform: rotate(0deg);
  }
}

.Peeps_YOS {
  font-size: 20px;
  text-indent: 15px;
  color: var(--footer_peeps_yos);
}