/*html {
  transition: .6s;  
  font-size: 18.5px;
}*/
/* Main Page */
/*main {
  text-shadow: 2.5px 2px var(--text-shadow-color);
}*/

/* HEADER */
/*header {
  color: var(--primary-text-color);
  background-color: #ff0000;
  border-radius: 300px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  visibility: visible;
}

.Hide {
  visibility: hidden;
}*/

html {
 background-color: gray;
}
eol {
  color: #ff0000;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  font-weight: 200;
  justify-content: center;
}
.eoltext {
  color: #fff;
}
eol2 {
  font-size: 30px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #c3bd09;
  font-size: 40px;
}
eolsign {
  color: blue;
}
