html {
  transition: .6s;  
  font-size: 18.5px;
}
/* Main Page */
main {
  text-shadow: 2.5px 2px var(--text-shadow-color);
}

/* HEADER */
header {
  color: var(--primary-text-color);
  background-color: #ff0000;
  border-radius: 300px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  visibility: visible;
}

.Hide {
  visibility: hidden;
}


eol {
  color: #ff0000;
  font-size: 25px;
  text-aligt: center;
  margin-top: 30px;
  
}
.eoltext {
  color: #fff;
}
